section,body,html {
  height: 100%;
  overflow: hidden;
}
.layout {
  margin: 0 auto;
  width: 600px;
}

@media (min-width: 700px) {
  .layout {
    width: 600px;
  }
}
@media (min-width: 900px) {
  .layout {
    width: 800px;
  }
}
@media (min-width: 1000px) {
  .layout {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .layout {
    width: 1100px;
  }
}

#page-cover {
  display: none;
}

.bg {
  position: absolute;
  z-index: -1;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  background: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
  background-size: cover;
  filter: blur(4px);
}

.bg::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

main {
  padding-top: 12vh;
  height: calc(100% - 24vh);
  /* border: 10px solid blue; */
}

footer {
  /* border: 10px solid red; */
  height: 24vh;
}

.aside {
  float: left;
}

figure {

  width: 47vh;
  height: 47vh;
  background: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
  background-size: cover;
}

.aside .icon {
  display: flex;
  margin-top: 3vh;
}

.aside .icon .iconfont {
  flex: 1;
  text-align: center;
  font-size: 6vh;
  color: rgba(255,255,255,0.4);
  cursor: pointer;
  transition: all 0.5s;
}

.aside .icon .iconfont:hover {
  color: #fff;
}

main .detail {
  /* border: 2px solid lightcoral; */
  margin-left: 60vh;
  color: #fff;
}

main .tag {
  display: inline-block;
  padding: .1em .9em;
  font-size: 2vh;
  border-radius: 2vh;
  background: rgba(255,255,255,0.4);
}

.detail h1 {
  font-size: 6vh;
  margin-top: 2vh;
}

.detail .icon {
  display: flex;
  font-size: 3vh;
  margin-top: 7vh;
}

.detail .icon li {
  flex: 1;
  color: rgba(255,255,255,0.9);
}

.detail .icon .iconfont {
  font-size: 2.9vh;
  margin-right: 2vh;
}

.detail .bar-area {
  display: flex;
  margin-top: 7vh;
  align-items: center;
}

.detail .bar-area .bar {
  flex: 1;
  background: rgba(255,255,255,0.4);
  height: .8vh;
  border-radius: .2vh;
  position: relative;
}

.detail .bar-area .time {
  font-size: 2.2vh;
  width: 3vh;
  margin-left: 1.3vh;
}

.bar-area .bar .bar-progress {
  position: absolute;
  width: 15%;
  background: #fff;
  border-radius: .2vh;
  height: .8vh;
  transition: width .9s;
}

main .author {
  margin-top: 2vh;
  font-size: 2.2vh;
  color: rgba(255,255,255,0.5);
}

main .lyric {
  margin-top: 2vh;
  font-size: 3vh;
  color: rgba(255, 255, 255, 0.7);
}

footer {
  box-shadow: 0px -.25vh .25vh .25vh rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.2);
}

footer .layout {
  position: relative;
}

footer .box {
  position: relative;
  height: 24vh;
  overflow: hidden;
}

footer .iconfont {
  position: absolute;
  font-size: 7vh;
  opacity: 0;
  margin-top: 6vh;
  cursor: pointer;
}

footer:hover .iconfont {
  opacity: 1;
  color: rgba(255,255,255,0.4);
  transition: all 0.4s;
}

footer .icon-left {
  left: -10vh
}

footer .icon-right {
  right: -10vh;
}

footer .icon-right:hover,
footer .icon-left:hover {
  transition: all 0.4s;
  color: #fff;
}

footer ul {

  position: absolute;
  left: 0;
}

footer li {
  float: left;
  cursor: pointer;
  margin: 2vh;
  height: 20vh;
  width: 20vh;
  text-align: center;
}

footer li .cover {
  height: 16vh;
  background-size: cover;
  background-position: center center;

}

footer li h3 {
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 1vh;
}

footer li.active {
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.7);

}

footer li:hover {
  color: #fff;
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.7);
}

main .icon .icon-heart.active {
  color:pink;
}